name: Terraform Apply

on:
  push:
    branches: ["main"]
    paths:
      - "infra/**"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  apply:
    if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
    runs-on: ubuntu-latest
    environment: prod
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.5"

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::246089461629:role/github-terraform-apply
          aws-region: eu-north-1

      - name: Terraform fmt
        run: terraform fmt -check -recursive

      - name: Build Lambda package (lambda.zip)
        working-directory: .
        run: |
          mkdir -p build
          cd app
          zip -r ../build/lambda.zip .

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform apply
        run: terraform apply -auto-approve -input=false
